@import "tailwindcss";
@import "@heroui/styles";

@import "./themes/default.css" layer(theme);
@import "./themes/familiar.css" layer(theme);
@import "./themes/midnight.css" layer(theme);
@import "./themes/sunset.css" layer(theme);
@import "./themes/mint.css" layer(theme);
